@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  overflow-x: hidden;
}

.bg {
  background: url('/bg.jpeg') rgba(0, 0, 0, 0.4) right/cover;
  /* background-attachment: fixed; */
  background-blend-mode: darken;
}

.bg2 {
  background: url('/bg2.jpg') rgba(255, 255, 255, 0.85) center/cover;
  /* background-attachment: fixed; */
  background-blend-mode: lighten;
}

.bg3 {
  background: url('/bg3.jpg') rgba(255, 255, 255, 0.85) center/cover;
  /* background-attachment: fixed; */
  background-blend-mode: lighten;
}

.bg4 {
  background: url('/bg4.jpg') rgba(0, 0, 0, 0.4) left/cover;
  /* background-attachment: fixed; */
  background-blend-mode: darken;
}

.btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 36px;
  width: fit-content;
  border: 1px solid transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: black;
  background: #CFEBC9;
  box-shadow: 0 0 0 2px #15762a;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn svg {
  position: absolute;
  width: 24px;
  fill: black;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn .arr-1 {
  right: 16px;
}

.btn .arr-2 {
  left: -25%;
}

.btn .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #3bea61;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
  background: transparent;
  border-color: black;
}

.btn:hover .arr-1 {
  right: -25%;
}

.btn:hover .arr-2 {
  left: 16px;
}

.btn:hover .text {
  transform: translateX(12px);
}

.btn:hover svg {
  fill: #212121;
}

.btn:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #15762a;
}

.btn:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}


.navlinks a {
  @apply font-medium text-[1.1rem] px-4 py-2 w-fit hover:bg-[#32ce53] text-white hover:text-black hover:rounded-full transition-all duration-300 ease-in-out;
}

.navlinksPhn a {
  @apply text-black text-2xl px-6;
}

.navlinks a.active {
  @apply bg-[#32ce53] text-black rounded-full transition-all duration-300 ease-in-out;
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 125%;
  }
}

@media screen and (max-width: 1040px) {
  html {
    font-size: 85%;
  }
}

@media screen and (max-width: 620px) {
  html {
    font-size: 70%;
  }
}