@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  overflow-x: hidden;
}

.bg {
  background: url('/bgNew.jpg') rgba(0, 0, 0, 0.5) bottom/cover;
  /* background-attachment: fixed; */
  background-blend-mode: darken;
}

.bg2 {
  background: url('/bg2.jpg') rgba(255, 255, 255, 0.85) center/cover;
  /* background-attachment: fixed; */
  background-blend-mode: lighten;
}

.bg2-dark {
  background: url('/bg2.jpg') rgba(0, 0, 0, 0.4) center/cover;
  /* background-attachment: fixed; */
  background-blend-mode: darken;
}

.bg3 {
  background: url('/bg3.jpg') rgba(255, 255, 255, 0.85) center/cover;
  /* background-attachment: fixed; */
  background-blend-mode: lighten;
}

.bg3-dark {
  background: url('/bg3.jpg') rgba(0, 0, 0, 0.4) center/cover;
  /* background-attachment: fixed; */
  background-blend-mode: darken;
}

.bg4 {
  background: url('/bg4.jpg') rgba(0, 0, 0, 0.4) left/cover;
  /* background-attachment: fixed; */
  background-blend-mode: darken;
}

.bg5 {
  background: url('/bg4.jpg') rgba(0, 0, 0, 0.6) left/cover;
  /* background-attachment: fixed; */
  background-blend-mode: darken;
}

.outline {
  -webkit-text-stroke: 2px white;
  /* backdrop-filter: blur(8px); */
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 36px;
  width: fit-content;
  border: 1px solid transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: black;
  background: #CFEBC9;
  box-shadow: 0 0 0 2px #15762a;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn2 {
  background: #3bea61;
  box-shadow: 0 0 0 1px black;
}

.btn .arr-1,
.btn .arr-2 {
  position: absolute;
  width: 24px;
  color: black;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn .arr-1 {
  right: 16px;
}

.btn .arr-2 {
  left: -25%;
}

.btn .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #3bea61;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn2 .circle {
  background: rgb(110, 255, 13);
}

.btn .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
  background: transparent;
  border-color: black;
}

.btn:hover .arr-1 {
  right: -25%;
}

.btn:hover .arr-2 {
  left: 16px;
}

.btn:hover .text {
  transform: translateX(12px);
}

.btn:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #15762a;
}

.btn:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

/* From Uiverse.io by cssbuttons-io */
.btn3 {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  color: white;
}

.btn3 {
  width: 12rem;
  height: auto;
}

.btn3 .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #3bea61;
  border-radius: 1.625rem;
}

.btn3 .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: black;
}

.btn3 .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.btn3 .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid black;
  border-right: 0.125rem solid black;
  transform: rotate(45deg);
}

.btn3 .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.6rem 0;
  margin: 0 0 0 2.5rem;
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.btn3:hover .circle {
  width: 100%;
}

.btn3:hover .circle .icon.arrow {
  background: black;
  transform: translate(1rem, 0);
}

.btn3:hover .button-text {
  color: black;
}


.navlinks a {
  @apply font-medium text-[1.1rem] px-4 py-2 w-fit hover:bg-[#32ce53] text-white hover:text-black hover:rounded-full transition-all duration-300 ease-in-out;
}

.navlinksPhn a {
  @apply text-black text-2xl px-6;
}

.navlinks a.active {
  @apply bg-[#32ce53] text-black rounded-full transition-all duration-300 ease-in-out;
}

.contact-input {
  @apply w-5/6 max-lg:w-full bg-transparent border border-white px-4 py-2 rounded-lg placeholder:text-white;
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 125%;
  }
}

@media screen and (max-width: 1040px) {
  html {
    font-size: 85%;
  }
}

@media screen and (max-width: 620px) {
  html {
    font-size: 70%;
  }
}